body{
    background-color:azure;
    font-family:sans-serif;

}
.my-name {
    font-family:serif;
    text-align:center;
    text-decoration:underline;
}
.section-links {
    font-size:15px;
  
}
.main-sections {
    font-family:sans-serif;
    background-color:black;
    text-align:center;
    color:white;
    padding:5px;
    
    margin-bottom:20px;
}
.description-info {
    font-family:monospace;
    font-size:15px;
    font-weight:400;
    width:90%;
    margin-top:60px;
    text-align:center;
 
}

.buttons {
    background-color:black;
    font-family:serif;
    font-size:20px;
    font-weight:600;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    text-align:center;
    width:30%;
    display:inline-block;
    margin-left:33%;
    
}
img {
    width:100px;
    float:left;
    margin-right:10px;
    margin-left:10px;
    border:1px groove black;
    border-radius:25% 25% 25% 25%;
    padding:2px;
    background-color:black;
    
}
.description-block {
    padding-bottom:15%;
}
.list-elements {
    font-size:19px;
    margin-left:40%;
    margin-bottom:20px;
    width:30%;
    padding:2px;
}
.impar {
    font-weight:600;
}